<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @human.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @human.age %>
</p>

<p>
  <strong>Address:</strong>
  <%= @human.address %>
</p>

<p>
  <strong>Position:</strong>
  <%= @human.position %>
</p>

<%= link_to 'Edit', edit_human_path(@human) %> |
<%= link_to 'Back', humen_path %>
